{% extends "main/base.html" %}
{% block title %}
  <style>
    greeting {
  text-align: center;
  top: 50%; 
  left: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  margin-top: -225px;
  margin-left: -225px;
    }
  </style>
  <title>Домашняя страница</title>
{% endblock %}
{% block content%}
  <greeting>
    <h1>Здравствуйте, {{ user.first_name|default:'Гость' }}</h1>

    <p> Добро пожаловать на наш сайт</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Выход</a>
    
      {% else %}
          <a href="{% url 'register' %}">Регистрация</a>
          <a href="{% url 'login' %}">Вход</a>
      {% endif %}
  </div>
  </greeting>
  </body>
</html>
{% endblock %}